<html>
    <head>
        <title>Perl Jobs - [% template.title %] [% pagename %]</title>

<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/fonts/fonts-min.css" />
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/reset-fonts-grids/reset-fonts-grids.css" />
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/menu/assets/skins/sam/menu.css" />
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/resize/assets/skins/sam/resize.css" />
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/layout/assets/skins/sam/layout.css" />
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/tabview/assets/skins/sam/tabview.css" />


<script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/utilities/utilities.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/container/container_core-min.js"></script> 
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/menu/menu-min.js"></script> 
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/resize/resize-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/layout/layout-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/element/element-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/tabview/tabview-min.js"></script>
<script src="http://yui.yahooapis.com/2.8.0r4/build/yahoo/yahoo-min.js"></script>
<script src="http://yui.yahooapis.com/2.8.0r4/build/connection/connection_core-min.js"></script>


        <style>
            #productsandservices2 {        
                position: static;
            }

            #productsandservices2 .yuimenuitemlabel {
                _zoom: 1;
            }

            #productsandservices2 .yuimenu .yuimenuitemlabel {
                _zoom: normal;
            }
            /*
                Turn off the border on the top unit since Menu has it's own border
            */
            .yui-skin-sam .yui-layout .yui-layout-unit-top div.yui-layout-bd {
                border: none;
            }
            /*
                Change some of the Menu colors
            */
            .yui-skin-sam .yuimenu .bd {
                background-color: #F2F2F2;
            }
            #productsandservices2 .bd {
                border: none;
            }
            #productsandservices2 .bd .first-of-type .bd {
                border: 1px solid #808080;
            }
        </style>

    </head>

    <body class=" yui-skin-sam">

        <div id="top1" align="center"> 
                <h1>Perl Jobs</h1>
        </div>

        <div id="left1">
            [% PROCESS left_menu.tt2 %]
        </div>

        <div id="center1" class="yui-navset">
            [% content %]
        </div>

        <div id="bottom1" align="center">
            [% PROCESS footer.tt2 %]
        </div>

    </body>
</html>

<script language="JavaScript">

    var Dom = YAHOO.util.Dom,
        Event = YAHOO.util.Event;

    Event.onDOMReady(function() {
        var layout = new YAHOO.widget.Layout({
            units: [
                { position: 'top', height: 28, body: 'top1', scroll: null, zIndex: 2 },
                { position: 'bottom', height: 30, body: 'bottom1' },
                { position: 'left', header: 'Menu', width: 200, body: 'left1', gutter: '5', scroll: null, zIndex: 1 },
                { position: 'center', body: 'center1', gutter: '5', header: '[% template.title %]' }
            ]
        });
        
       
        layout.render();
    });

    var tabView = new YAHOO.widget.TabView('center1');
    
</script>
